@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

@font-face {
    font-family: "JetbrainsMono";
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Hacked";
    src: url("../assets/fonts/hacked.ttf");
}

.cm-line {
    font-family: "JetBrainsMono";
    font-size: 16px;
    tab-size: 4;
}

.markdown > * {
    all: revert;
}
