@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

@font-face {
    font-family: "JetbrainsMono";
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Hacked";
    src: url("../assets/fonts/hacked.ttf");
}
