#nav-icon {
    width: 50px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    right: 2.5rem;
    height: 40px;
    z-index: 99;
    scale: 0.7;
}

#nav-icon:hover span {
    background: #548fce;
}

#nav-icon span {
    position: fixed;
    height: 4px;
    width: 30px;
    background: white;
    border-radius: 9px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}
#nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
    top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
    top: 18px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
    top: 36px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
    left: 4px;
    top: 8px;
}

#nav-icon.open span:nth-child(2) {
    left: calc(50% - 2.5px);
    top: 8px;
}

#nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon.open span:nth-child(5) {
    left: 4px;
    top: 27px;
}

#nav-icon.open span:nth-child(6) {
    left: calc(50% - 2.5px);
    top: 27px;
}
